<h1>Listing settings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Start weight</th>
    <th>Start time</th>
    <th>Weight loss rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= setting.user_id %></td>
    <td><%= setting.start_weight %></td>
    <td><%= setting.start_time %></td>
    <td><%= setting.weight_loss_rate %></td>
    <td><%= link_to 'Show', setting %></td>
    <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
    <td><%= link_to 'Destroy', setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Setting', new_setting_path %>
