<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<title>title</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
  </head>
<body>
  <div id='header'>
      <h1>header</h1>
  </div>
  <div id='sidebar'>
      <!-- see "Lists as Navigation", page 140, HTML Dog -->
      <!-- see "Doing Away With Unwanted Padding and Margins", page 144, HTML Dog -->
      <ul>
        <li><%= link_to "analysis", root_path %></li>
        <li><%= link_to "graph", welcome_graph_path %></li>
	<li><%= link_to "1y graph", welcome_one_year_graph_path %></li>
        <li><%= link_to "new reading", new_reading_path %></li>
        <li><%= link_to "all readings", readings_path %></li>
      </ul>
  </div>
  <div id='main'>
  <%= yield %>
  </div>
  <div id='footer'>
    <h1>footer</h1>
      <p><a href="http://validator.w3.org/check?uri=referer">XHTML validator</a><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS validator</a></p>
  </div>
  </body>

</html>
