<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<title>title</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
  </head>
<body>
  <div id='header'>
      <h1><% Goal  %></h1>
  </div>
  <div id='sidebar'>
      <!-- see "Lists as Navigation", page 140, HTML Dog -->
      <!-- see "Doing Away With Unwanted Padding and Margins", page 144, HTML Dog -->
      <ul>
        <li><%= link_to "Analysis", root_path %></li>
        <li><%= link_to "Graph 28 day", welcome_graph_path %></li>
	<li><%= link_to "Graph 1 year", welcome_one_year_graph_path %></li>
        <li><%= link_to "New reading", new_reading_path %></li>
        <li><%= link_to "All readings", readings_path %></li>
      </ul>
  </div>
  <div id='main'>
  <%= yield %>
  </div>
  <div id='footer'>
    <h1><%= Time.now %></h1>
      <p></p>
  </div>
  </body>
</html>
